.App {
/*  padding: 30px;*/
/*  display: flex;*/
/*}*/

/*.App > div {*/
/*  margin-right: 50px;*/
}
.todolist {
  width: 280px;
  border: 2px solid hotpink;
  border-radius: 5px;
  padding: 20px;
  background-color: #b6a81e;
  height: max-content;
}.todolist-empty {
   width: 280px;
  border: 2px solid hotpink;
  border-radius: 5px;
  padding: 20px;
  background-color: #6aff2f;
}
.task {
  font-weight: bold;
}
.task-done {
  font-weight: normal;
  text-decoration: line-through;
}
.btn-active {
  background-color: cornflowerblue;
  color: white;
  border: 2px solid cornflowerblue;
  border-radius: 3px;
}
.input-error {
  outline: none;
  border: 2px solid red;
}
.btn-filter-container {
  display: flex;
  justify-content: space-between;
}
.add-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}